.ejemplo_input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

}
form.box{
    background-color: #B6AC94 ;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: helvetica;
    font-size: 1.5rem;
    text-shadow: 0 0  10px #3498db;
}

.box input[type="email"], .box input[type="password"]{
    border:0;
}

.box input:is( [type="email"], [type="password"] ){
    background: none;
    display: block;
    margin: 2rem auto;
    border: 0.15rem solid #3498db;
    padding: 1rem 0.75rem;
    width: 10rem;
    outline: none;
    color: white;
    border-radius: 1.5rem;
    transition: border-color .5s;
    transition: width 1s;
    transition: transform .5s;
}

.box input:is( [type="email"], [type="password"] ):hover{
    width: 14rem;
    border-color: #f4bf04;
}

.box input:is( [type="email"], [type="password"] ):focus::placeholder{
    color:white;
    transform: translate(10%, -55%);
    font-size: 1.3rem;
    font-weight: bold;
    overflow: visible;
}

.box button[type="submit"]{
    background: transparent;
    color:#3498db;
    font-family: 'Hustler', sans-serif;
    font-display: swap;
    font-weight: 500;
    font-size: 2rem;
    border: transparent;
    text-shadow: 0 0  10px white;
    cursor: not-allowed;
}