.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,400 C 0,400 0,80 0,80 C 107.64593301435409,79.12918660287082 215.29186602870817,78.25837320574162 319,78 C 422.70813397129183,77.74162679425838 522.4784688995214,78.09569377990432 615,77 C 707.5215311004786,75.90430622009568 792.7942583732058,73.35885167464114 867,76 C 941.2057416267942,78.64114832535886 1004.3444976076555,86.4688995215311 1098,88 C 1191.6555023923445,89.5311004784689 1315.8277511961724,84.76555023923444 1440,80 C 1440,80 1440,400 1440,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 C 0,400 0,80 0,80 C 93.90430622009572,85.48325358851675 187.80861244019144,90.96650717703349 300,81 C 412.19138755980856,71.03349282296651 542.66985645933,45.617224880382764 626,51 C 709.33014354067,56.382775119617236 745.5119617224881,92.56459330143541 835,94 C 924.4880382775119,95.43540669856459 1067.2822966507179,62.124401913875595 1177,54 C 1286.7177033492821,45.875598086124405 1363.358851674641,62.9377990430622 1440,80 C 1440,80 1440,400 1440,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 C 0,400 0,80 0,80 C 115.34928229665073,77.78947368421052 230.69856459330146,75.57894736842105 315,74 C 399.30143540669854,72.42105263157895 452.555023923445,71.47368421052632 532,67 C 611.444976076555,62.526315789473685 717.0813397129189,54.526315789473685 823,57 C 928.9186602870811,59.473684210526315 1035.1196172248804,72.42105263157896 1138,78 C 1240.8803827751196,83.57894736842104 1340.44019138756,81.78947368421052 1440,80 C 1440,80 1440,400 1440,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 C 0,400 0,80 0,80 C 100.88038277511961,82.66985645933013 201.76076555023923,85.33971291866028 310,75 C 418.2392344497608,64.66028708133972 533.8373205741626,41.311004784689004 621,51 C 708.1626794258374,60.688995215310996 766.8899521531101,103.41626794258372 859,106 C 951.1100478468899,108.58373205741628 1076.6028708133972,71.02392344497608 1179,60 C 1281.3971291866028,48.976076555023916 1360.6985645933014,64.48803827751196 1440,80 C 1440,80 1440,400 1440,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 C 0,400 0,80 0,80 C 107.64593301435409,79.12918660287082 215.29186602870817,78.25837320574162 319,78 C 422.70813397129183,77.74162679425838 522.4784688995214,78.09569377990432 615,77 C 707.5215311004786,75.90430622009568 792.7942583732058,73.35885167464114 867,76 C 941.2057416267942,78.64114832535886 1004.3444976076555,86.4688995215311 1098,88 C 1191.6555023923445,89.5311004784689 1315.8277511961724,84.76555023923444 1440,80 C 1440,80 1440,400 1440,400 Z"
    );
  }
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,400 C 0,400 0,160 0,160 C 106.30622009569379,164.50717703349284 212.61244019138758,169.01435406698565 299,171 C 385.3875598086124,172.98564593301435 451.8564593301435,172.44976076555022 557,165 C 662.1435406698565,157.55023923444978 805.9617224880384,143.1866028708134 899,146 C 992.0382775119616,148.8133971291866 1034.2966507177034,168.80382775119617 1116,174 C 1197.7033492822966,179.19617224880383 1318.8516746411483,169.5980861244019 1440,160 C 1440,160 1440,400 1440,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 C 0,400 0,160 0,160 C 74.22966507177034,170.57416267942585 148.45933014354068,181.14832535885168 245,188 C 341.5406698564593,194.85167464114832 460.3923444976076,197.98086124401914 564,187 C 667.6076555023924,176.01913875598086 755.9712918660289,150.92822966507177 854,141 C 952.0287081339711,131.07177033492823 1059.7224880382776,136.3062200956938 1159,142 C 1258.2775119617224,147.6937799043062 1349.1387559808613,153.8468899521531 1440,160 C 1440,160 1440,400 1440,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 C 0,400 0,160 0,160 C 107.28229665071768,151.55023923444975 214.56459330143537,143.10047846889952 308,136 C 401.43540669856463,128.89952153110048 481.02392344497616,123.14832535885168 578,132 C 674.9760765550238,140.85167464114832 789.3397129186603,164.30622009569382 880,172 C 970.6602870813397,179.69377990430618 1037.6172248803828,171.6267942583732 1127,167 C 1216.3827751196172,162.3732057416268 1328.1913875598086,161.1866028708134 1440,160 C 1440,160 1440,400 1440,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 C 0,400 0,160 0,160 C 110.79425837320574,151.67464114832535 221.58851674641147,143.34928229665073 309,142 C 396.41148325358853,140.65071770334927 460.4401913875598,146.2775119617225 550,144 C 639.5598086124402,141.7224880382775 754.6507177033492,131.54066985645935 852,139 C 949.3492822966508,146.45933014354065 1028.956937799043,171.55980861244018 1124,178 C 1219.043062200957,184.44019138755982 1329.5215311004786,172.2200956937799 1440,160 C 1440,160 1440,400 1440,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 C 0,400 0,160 0,160 C 106.30622009569379,164.50717703349284 212.61244019138758,169.01435406698565 299,171 C 385.3875598086124,172.98564593301435 451.8564593301435,172.44976076555022 557,165 C 662.1435406698565,157.55023923444978 805.9617224880384,143.1866028708134 899,146 C 992.0382775119616,148.8133971291866 1034.2966507177034,168.80382775119617 1116,174 C 1197.7033492822966,179.19617224880383 1318.8516746411483,169.5980861244019 1440,160 C 1440,160 1440,400 1440,400 Z"
    );
  }
}

.path-2 {
  animation: pathAnim-2 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-2 {
  0% {
    d: path(
      "M 0,400 C 0,400 0,240 0,240 C 74.71770334928232,257.0047846889952 149.43540669856463,274.00956937799043 243,265 C 336.56459330143537,255.99043062200957 448.97607655502384,220.9665071770335 568,211 C 687.0239234449762,201.0334928229665 812.6602870813398,216.1244019138756 907,218 C 1001.3397129186602,219.8755980861244 1064.3827751196172,208.5358851674641 1148,210 C 1231.6172248803828,211.4641148325359 1335.8086124401914,225.73205741626793 1440,240 C 1440,240 1440,400 1440,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 C 0,400 0,240 0,240 C 94.95693779904306,242.78468899521533 189.91387559808612,245.56937799043064 286,243 C 382.0861244019139,240.43062200956936 479.3014354066986,232.50717703349284 576,227 C 672.6985645933014,221.49282296650716 768.8803827751195,218.40191387559807 873,221 C 977.1196172248805,223.59808612440193 1089.177033492823,231.88516746411483 1185,236 C 1280.822966507177,240.11483253588517 1360.4114832535884,240.05741626794259 1440,240 C 1440,240 1440,400 1440,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 C 0,400 0,240 0,240 C 74.18181818181822,227.46411483253587 148.36363636363643,214.92822966507177 241,218 C 333.63636363636357,221.07177033492823 444.72727272727263,239.7511961722488 554,245 C 663.2727272727274,250.2488038277512 770.7272727272727,242.066985645933 856,233 C 941.2727272727273,223.933014354067 1004.3636363636365,213.98086124401914 1098,215 C 1191.6363636363635,216.01913875598086 1315.8181818181818,228.00956937799043 1440,240 C 1440,240 1440,400 1440,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 C 0,400 0,240 0,240 C 121.23444976076553,255.33014354066987 242.46889952153106,270.66028708133973 326,267 C 409.53110047846894,263.33971291866027 455.3588516746412,240.68899521531102 547,228 C 638.6411483253588,215.31100478468898 776.0956937799043,212.58373205741626 887,215 C 997.9043062200957,217.41626794258374 1082.2583732057417,224.97607655502392 1170,230 C 1257.7416267942583,235.02392344497608 1348.870813397129,237.51196172248802 1440,240 C 1440,240 1440,400 1440,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 C 0,400 0,240 0,240 C 74.71770334928232,257.0047846889952 149.43540669856463,274.00956937799043 243,265 C 336.56459330143537,255.99043062200957 448.97607655502384,220.9665071770335 568,211 C 687.0239234449762,201.0334928229665 812.6602870813398,216.1244019138756 907,218 C 1001.3397129186602,219.8755980861244 1064.3827751196172,208.5358851674641 1148,210 C 1231.6172248803828,211.4641148325359 1335.8086124401914,225.73205741626793 1440,240 C 1440,240 1440,400 1440,400 Z"
    );
  }
}
.path-3 {
  animation: pathAnim-3 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-3 {
  0% {
    d: path(
      "M 0,400 C 0,400 0,320 0,320 C 118.07655502392345,315.28229665071774 236.1531100478469,310.5645933014354 325,311 C 413.8468899521531,311.4354066985646 473.46411483253587,317.02392344497605 548,328 C 622.5358851674641,338.97607655502395 711.9904306220095,355.33971291866027 826,346 C 940.0095693779905,336.66028708133973 1078.5741626794259,301.6172248803828 1185,293 C 1291.4258373205741,284.3827751196172 1365.712918660287,302.1913875598086 1440,320 C 1440,320 1440,400 1440,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 C 0,400 0,320 0,320 C 112.58373205741626,322.9569377990431 225.1674641148325,325.9138755980861 304,328 C 382.8325358851675,330.0861244019139 427.91387559808607,331.30143540669854 532,334 C 636.0861244019139,336.69856459330146 799.177033492823,340.8803827751196 912,337 C 1024.822966507177,333.1196172248804 1087.377990430622,321.177033492823 1167,317 C 1246.622009569378,312.822966507177 1343.311004784689,316.4114832535885 1440,320 C 1440,320 1440,400 1440,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 C 0,400 0,320 0,320 C 90.9090909090909,322.0287081339713 181.8181818181818,324.0574162679426 279,322 C 376.1818181818182,319.9425837320574 479.63636363636374,313.799043062201 582,309 C 684.3636363636363,304.200956937799 785.6363636363635,300.74641148325355 879,310 C 972.3636363636365,319.25358851674645 1057.8181818181818,341.2153110047847 1150,345 C 1242.1818181818182,348.7846889952153 1341.090909090909,334.3923444976076 1440,320 C 1440,320 1440,400 1440,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 C 0,400 0,320 0,320 C 104.16267942583733,312.63157894736844 208.32535885167465,305.2631578947368 303,311 C 397.67464114832535,316.7368421052632 482.8612440191388,335.57894736842104 572,345 C 661.1387559808612,354.42105263157896 754.2296650717702,354.42105263157896 842,345 C 929.7703349282298,335.57894736842104 1012.22009569378,316.7368421052632 1111,311 C 1209.77990430622,305.2631578947368 1324.88995215311,312.63157894736844 1440,320 C 1440,320 1440,400 1440,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 C 0,400 0,320 0,320 C 118.07655502392345,315.28229665071774 236.1531100478469,310.5645933014354 325,311 C 413.8468899521531,311.4354066985646 473.46411483253587,317.02392344497605 548,328 C 622.5358851674641,338.97607655502395 711.9904306220095,355.33971291866027 826,346 C 940.0095693779905,336.66028708133973 1078.5741626794259,301.6172248803828 1185,293 C 1291.4258373205741,284.3827751196172 1365.712918660287,302.1913875598086 1440,320 C 1440,320 1440,400 1440,400 Z"
    );
  }
}


div.footer_data{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    position: relative;
    bottom: 5rem;
}

div.footer_data > * {
    height: 2rem;
    width: 12rem;
    color: #64342C;
    font-weight: 600;
    font-size: 1rem;
}

div.footer_data > *:hover {
    color: #3D5055;
    font-size: 1.05rem;
}